/*My own styles*/
.left {
	float: left;
}
.right {
	float: right;
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}
.clearfix:after {
	content: '';
	clear: both;
	display: table;
}
/*Styles for Header*/
header {
	height: 700px;
	background: url(../img/bg.jpg) center center/cover;
}
.container {
	width: 940px;
	margin: 0 auto;
}

nav {
	float: right;
	margin-top: 54px;
}
li {
	float: left; 
	list-style: none;
	padding-left: 41px;
}
li a {
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	font-family: "Montserrat Regular",sans-serif;
	color: white;
}
.logo {
	display: inline;
}
.logo img {
	margin-left: 11px;
	margin-top: 47px;
}
.welcome {
	font-family: "Droid Serif Italic",sans-serif;
	font-size: 45px;
	text-align: center;
	margin-top: 200px;
	color: white;
	margin-bottom: 25px;
	font-style: italic;
}
h1 {
	color: white;
	font-family: Montserrat,sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 65px;
	text-align: center;
	margin-bottom: 50px;
}
.button {
	width: 240px;
	height: 65px;
	background-color: #fed136;
	box-sizing: border-box;
	padding: 21px 52px 21px 52px;
	margin-left: 350px;
	border-radius: 4px;
}
.button a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 17px;
	font-family: Montserrat,sans-serif;
	font-weight: bold;
}	
/*Styles for Services*/
#services {
	height: 298px;
}
h2 {
	text-align: center;
	text-transform: uppercase;
	font-family: Montserrat,sans-serif;
	font-size: 34px;
	font-weight: bold;
	color: #222222;
	margin-bottom: 15px;
}
span {
	display: block;
	text-align: center;
	color: #777777;
	font-family: "Droid Serif Italic",sans-serif;
	font-style: italic;
	margin-bottom: 60px;
}
.other {
	margin-top: 125px;
}
h5.title {
	margin-bottom: 10px;
	font: bold 18px/18px Montserrat,sans-serif;
	color: #222;
}
.items {
	float: left;
	width: 33.33%;
	text-align: center;
	padding-top: 90px;
}
.items p {
	font-size: 16px;
	line-height: 24px;
	color: #777;
	font-family: "Droid Serif Italic";
}
.first-item {
	background: url(../img/Basket.png) no-repeat center top;
}
.second-item {
	background: url(../img/Laptop.png) no-repeat center top;
}
.third-item {
	background: url(../img/Locked.png) no-repeat center top;
}
.main-block {

}
.images {
	float: left;
	width: 33.33%;
	text-align: center;
}
#our-portfolio{
	height: 1000px;
	margin-top: 120px;
	background-color: #f7f7f7;
	padding-top: 120px;
}
h6 {
	margin-top: 25px;
	color: #222;
	font-size: 16px;
	font-family: Montserrat,sans-serif;
	font-weight: bold;
}
.images p {
	margin-bottom: 60px;
	font-size: 12px;
	font-family: "Montserrat",sans-serif;
	padding-top: 10px;
}
.second-row p:nth-child(1) {
	margin-bottom: 0px;
}
.second-row p:nth-child(2) {
	margin-bottom: 0px;
}
.second-row p:nth-child(3) {
	margin-bottom: 0px;
}
/*Styles for Team' Section*/
#team {
	margin-top: 150px;
}
.team-item {
	width: 33.33%;
	text-align: center;
	float: left;
}
.cont {
	width: 220px;
	height: 220px;
	border-radius: 50%;
}
h6.title {
 margin-top: 0px;
}
.team-item p {
	padding-top: 5px;
	font-family: Montserrat,sans-serif;
	font-size: 12px;
}
.icons {
	margin-top: 8px;
	margin-bottom: 55px;
}
.icons img {
	padding-left: 5px;
}
.descr p {
	color: #777;
	font-family: Montserrat,sans-serif;
	font-size: 14px;
	text-align: center;
	width: 580px;
	margin: 0 auto;
	margin-bottom: 150px;
}

.partners {
	padding: 60px 0;
	text-align: center;
	margin-bottom: 75px;
}
.partners a {
	display: inline-block;
	margin-right: 40px;
}
.partners a:last-child {
	margin-right: 0px;
}
.partners img {
	vertical-align: middle;
}
/*Styles for Contact*/
#contacts {
	text-align: center;
	background: #222 url(../img/map.png) no-repeat right bottom;
	padding: 110px 50px;
}
.contacts-content h2 {
	color: white;
}
#message .left,
#message .right {
	width: 46%;
}
.white {
	color: white;
}
#message input[type="text"], 
#message textarea {
	background-color: #fff;
	border-radius: 3px;
	width: 100%;
	box-shadow: none;
	margin-bottom: 30px;
	padding: 15px 20px;
}
#message input[type="text"] {
	height: 20px;
	border: 1px solid #ccc;
}
#message input,textarea:focus {
	outline: none;
}
#message textarea {
	height: 186px;
	resize: none;
	border: none;
}
::-webkit-input-placeholder {
	font: bold 14px/14px Arial,sans-serif;
	text-transform: uppercase;
	color: #bbb; 
}
::-moz-placeholder {
	font: bold 14px/14px Arial,sans-serif;
	text-transform: uppercase;
	color: #bbb; 
}
 .btn {
	display: inline-block;
	text-transform: uppercase;
	font: bold 17px/17px Montserrat,sans-serif;
	color: white;
	border: none;
	width: 240px;
	height: 65px;
	background-color: #fed136;
	box-sizing: border-box;
	padding: 21px 52px 21px 52px;
	border-radius: 4px;
}
#copyright {
	padding: 25px 0;
}
.p-footer {
	font: 14px/14px Arial,sans-serif;
	margin-top: 9px;
}
.social {
	margin-top: 0px;
	margin-left: 383px;
}
.social img {
 padding-left: 5px;
}